<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0_2024052101"
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="com.huawei.livewallpaper.cosmos.superwallpaper"
    platformBuildVersionCode="31"
    platformBuildVersionName="12">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="31"/>
    <permission
        android:name="android.permission.BIND_WALLPAPER"
        android:protectionLevel="signatureOrSystem"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/cosmos"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.huawei.livewallpaper.cosmos.superwallpaper.fileprovider"
            android:grantUriPermissions="true"
            android:directBootAware="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider"/>
        </provider>
        <service
            android:label="@string/cosmos"
            android:icon="@drawable/cosmos"
            android:name="com.huawei.livewallpaper.paradise.cosmos.CosmosWallpaper"
            android:permission="android.permission.BIND_WALLPAPER"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/cosmos"/>
            <meta-data
                android:name="huawei.service.wallpaper"
                android:value="huawei.super.wallpaper"/>
            <meta-data
                android:name="LockToAodDuration"
                android:value="0"/>
            <meta-data
                android:name="LauncherToAodDuration"
                android:value="0"/>
            <meta-data
                android:name="AodStyle"
                android:value="CosmosClock;Cosmos"/>
            <meta-data
                android:name="ResourceVersion"
                android:value="2"/>
            <meta-data
                android:name="LockImagePath"
                android:value="root/data/user_de/0/com.huawei.livewallpaper.cosmos.superwallpaper/files/cosmos_lock.jpg"/>
            <meta-data
                android:name="LockImagePathNightMode"
                android:value="root/data/user_de/0/com.huawei.livewallpaper.cosmos.superwallpaper/files/cosmos_lock.jpg"/>
        </service>
    </application>
</manifest>
